html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font-size: 18px;
  font-family: 'Montserrat';
  min-height: 100%;
  position: relative;
}

/*--------------- 1440 x 900 ---------------*/

@media only screen and (max-width: 1440px) {
  html {
    font-size: 15px;
  }
}

/*---------------            ---------------*/

@media only screen and (min-width: 2560px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 3840px) {
  html {
    font-size: 36px;
  }
} 

body {
  font-family: 'Montserrat';
  height: 100%;
  position: relative;
}

#pageContainer {
  display: block;
  position: relative;
  min-height: 100vh;
}

/*--------------- NavBar ---------------*/

.w3-bar {
  padding-top: 0.89rem;
  max-width: 66.66rem;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.222rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.w3-bar a.w3-hide-small {
  padding-top: 0.89rem;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.222rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.w3-bar a {
  color: #282828;
}

.w3-button:hover {
  color: #771B0C ;
  background: none;
}

.w3-button:hover path {
  fill: #771B0C;
}

.w3-button svg {
  margin-top: 3px;
}

.language {
  letter-spacing: 0.15rem !important;
}

/*--------------- Regular ---------------*/


h2,
h3,
h4,
h5,
p,
a {
  color: #282828 !important;
}

h1 {
  color: #181818;
}

header {
  max-width: 66.66rem;
  margin: auto;
  margin-bottom: 40vh;
}

header p, header h2 {
  margin-right: 16px;
  margin-left: 16px;
}

p,
h2 {
  margin-left: 0.889rem;
  margin-right: 0.889rem;
}

h2 {
  font-weight: 300;
  margin-top: 20vh;
  margin-bottom: 1.667rem;
  font-size: 1.55rem;
}

p {
  max-width: 27.778rem;
  font-size: 0.92rem;
  line-height: 1.8rem !important;
}

h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7rem !important;
}

.material-icons {
  font-size: 0.889rem !important;
  bottom: 0;
}

a:hover {
  text-decoration: none;
  color: #282828;
}

b {
  font-weight: 600;
}

/*--------------- Footer Imprint ---------------*/

#bottom {
  padding-top: 4.444rem;
}

.bottomProjects {
  padding-top: 2.222rem !important;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2.222rem;
}

footer {
  position: relative;
  max-width: 66.667rem;
  margin: auto;
  margin-bottom: 1.111rem;
  font-size: 0.75rem;
  
}

.imprint a {
  color: black;
}

@media only screen and (max-width: 767px) {
  .copyright {
    display: block;
    margin: auto;
    text-align: center;
  }

  .imprint {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .copyright {
    display: block;
    float: left;
    margin-left: 0.889rem;
    margin-bottom: 0.444rem;
  }

  .imprint {
    display: block;
    float: right;
    margin-right: 0.889rem;
    margin-bottom: 0.444rem;
  }
}

/*--------------- Project Section ---------------*/

.parent-test {
  margin: auto;
  display: flex;
  position: relative;
  max-width: 86.66rem;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20rem !important;
 
}

.test {
  display: inline-flex;
  max-width: 43.33rem;
}

#animateLine {
  transform: scaleX(0);
  transition-timing-function: ease-in;
  transition: transform 1000ms;
  transform-origin: right;
}

.text-test h1 {
  transition: transform 100ms;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
  transform: translate(0, 16px) scaleY(0);
  transform-origin: bottom;
}

#tail {
  display: block;
  transition: transform 100ms;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
  transform: translate(0, -16px) scaleY(0);
  transform-origin: top;
}

#float {
  transform: translate(0, -100px);
  position: absolute;
  width: 100%;
  max-width: 43.33rem;
  right: 10rem;
  display: block;
  z-index: 10;
}

.text-test {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: flex-start;
  width: 33.33rem;
  vertical-align: bottom;
  /*transform: translate(0, 520px);*/
}

.right img {
  position: absolute;
  right: 0px;
}

.left img {
  position: absolute;
  left: 0px;
}

.projectSection img {
  transition: all 1s ease-in-out;
}

.projectSection svg {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  opacity: 1;
  max-width: 1920px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  vertical-align: middle;
}

.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-12,
-col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (max-width: 1000px) {
  #float {
    display: flex;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -200px);
  }
  .text-test {
    min-width: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .b65 {
    margin-bottom: 3rem;
  }

  .text-test {
    display: none;
  }

  .test {
    max-width: 60rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  #float {
    transform: translate(0, -100px);
    margin: auto;
    padding-left: 32px;
    padding-right: 32px;
    right: 0px;
    left: 0px;
    display: flex;
  }

  .parent p {
    margin-left: 16px;
    margin-right: 16px;
    line-height: 2em;
    margin-bottom: 1.667rem;
  }

  .parent h1 {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .projectSection span {
    margin-top: 2rem;
  }

  .parent {
    margin-bottom: 1.667rem !important;
  }

}

@media only screen and (min-width: 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  .projectSection p {
    margin-top: 16px;
    line-height: 1.15rem;
    padding-left: 16px;
    margin-left: 0px;
  }

  .projectSection h1 {
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 1.55rem;
    font-weight: 300;
    letter-spacing: 0rem;
  }

  .b65 {
    margin-bottom: 6.8rem;
  }
}

/*--------------- Overlay ---------------*/

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  overflow-x: hidden;
  -webkit-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}

.overlay.myNav--show {
  display: block;
  opacity: 0.925;
}


.overlay-content {
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 90px;
}

.overlay-content a {
  font-family: 'Montserrat';
  font-weight: 400;
  letter-spacing: 0.222rem;
  text-transform: uppercase;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 1rem;
  color: #e0e0e0 !important;
  display: block;
  transition: 0.3s;
}

.overlay .closebtn {
  height: 20px;
  text-align: right;
  float: right;
  margin-top: 23px;
  margin-right: 16px;
}

.closebtn svg path {
  fill: #e0e0e0;
  transition: 0.3s;
}

/*--------------- Back to Top ---------------*/

.back-to-top {
  display: inline-block;
  position: fixed;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/back-to-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    background-color 0.3s 0s, transform 1s ease-in-out;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s,
    transform 1s ease-in-out;
}

.back-to-top:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.back-to-top.back-to-top--show {
  visibility: visible;
  opacity: 1;
}


@media only screen and (max-width: 767px) {
  .back-to-top {
    height: 30px;
    width: 30px;
    right: 16px;
    bottom: 16px;
    background-size: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .back-to-top {
    height: 2.5rem;
    width: 2.5rem;
    background-size: 100%;
    right: 2.22rem;
    bottom: 2.22rem;
  }
}

/*--------------- About ---------------*/

.about {
  max-width: 66.66rem;
  margin:auto;
  overflow:hidden;
}

.about img{
  margin-top: 6.667rem;
  padding-left: 0.887rem;
  padding-right: 0.887rem;
}

.about p{
  margin-top: 6.667rem;
}

.socialMediaIcons {
  clear: both;
  padding-inline-start: 0.889rem;
  list-style: none;
  margin-top: 1.111rem;
  padding-left: 16px;
}

.socialMediaIcons li {
  float: left;
}

.socialMediaIcons a {
  color: #333;
  font-size: 1.944rem;
  margin-right: 0.833rem;
  transition: all .3s;
  -webkit-transition: all .3s;
}

.socialMediaIcons li a{
  color:  rgb(0, 0, 0);
  opacity: 0.7;
}

.socialMediaIcons li a:hover{
  color: rgb(0, 0, 0);
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .about p {
    margin-top: 2rem;
  }

  .about img{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .about h2 {
    display: none;
  }
}


/*--------------- Imprint ---------------*/

@media only screen and (min-width: 768px) {

  .imprintBlock p{
    max-width: none;
  }
}

.imprintBlock {
  word-wrap: normal;
}

.imprintBlock a{
  word-wrap: break-word;
}

.imprintBlock {
  max-width: 66.66rem;
  margin: auto;
  margin-top: 6.667rem;
}

.imprintBlock h1, .imprintBlock h2, .imprintBlock h3{
  margin-left: 0.889rem;
  margin-right: 0.889rem;
}

.imprintBlock h2{
  font-size: 1.667rem;
  margin-top: 2.222rem;
  margin-bottom: 1.111rem;
}

.imprintBlock h3{
  font-size: 1.333rem;
  margin-top: 1.667rem;
  margin-bottom: 0.556rem;
}

#datenschutzCR{
  display: inline-block;
  margin-left: 0.889rem;
  margin-right: 0.889rem;
  font-size: 0.9rem;
  margin-top: 0.889rem;
}

/*--------------- Project Sites ---------------*/


.col-sm-12{
  overflow:hidden;
}

.col-sm-6{
  overflow:hidden;
}

.logoSenseChess {
  max-width: 66.66rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 10rem;
}

.logoSenseChess img {
  display: block;
  margin: auto;
}

.projectNavigation {
  overflow: hidden;
  margin-top: 1rem;
}

.projectNavigation p {
  font-weight: 400; 
  letter-spacing: 0.222rem; 
  text-transform: uppercase; 
  font-size: 0.7rem; 
  color: #8E8E8E !important; 
  text-align: center; 
  opacity: 0; 
  transition: opacity 0.7s;
  margin-bottom: 0px;
}

.projectNavigation svg {
  display: block;
}

.rightArrow {
  float: right;
  position: relative; 
  height: 45px; 
  display: flex; 
  align-items: center;
}

.leftArrow {
  float: left;
  position: relative; 
  height: 45px; 
  display: flex; 
  align-items: center;
}

@media only screen and (max-width: 767px) {

  .projectHeaderContent {
    padding-top: 1.5rem;
  }

  .logoSenseChess {
    max-width: 66.66rem;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 5rem;
  }

}


.shortDescription{
  max-width: 60rem;
  margin: auto;
  margin-top: 1.667rem;
  margin-bottom: 3rem;
}

.shortDescription h2{
  margin-top: 0rem;

}

.names h5{
  max-width: 27.778rem;
  margin-left: 0.887rem;
  margin-right: 0.887rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.names p{
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .shortDescription p{
    margin-right: 2rem;
  }

  .names {
    margin-top: 3rem;
  }

  .leftArrow svg {
    margin-left: 2.22rem;
    z-index: 100;
  }

  .rightArrow svg {
    margin-right: 2.22rem;
    z-index: 100;
  }

  .projectNavigation {
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    z-index: 80;
  }

  .twoPic-text{
    padding-left: 16px;
  }

  .a-hide {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .shortDescription p, h5{
    margin: auto !important;
    margin-bottom: 0.55rem !important;
    padding-right: 16px;
    padding-left: 16px;
  }

  .shortDescription h2{
    max-width: 27.778rem;
    margin: auto !important;
    margin-bottom: 1.667rem !important;
    padding-right: 16px;
    padding-left: 16px;
  }

  .names{
    margin-top: 3rem;
  }

  .contentProjects p, .contentProjects h3{
    padding-right: 16px;
    padding-left: 16px;
  }

  .parallaxPicture {
    display: none;
  }

  .leftArrow svg {
    margin-left: 0px;
  }

  .rightArrow svg {
    margin-right: 0px;
  }

  .projectNavigation svg {
    width: 30px;
    height: 30px;
  }

  .projectNavigation p { 
    opacity: 1; 
  }

  .p-hide {
    display: none;
  }

  .freeTime {
    margin-bottom: 2rem;
  }
}

.contentProjects {
  overflow: hidden;
}

.contentProjects img{
  width: 100%;
  max-width: 66.66rem;
  margin-top: 1.667rem !important;
  margin-bottom: 1.667rem !important;
  margin:0 auto;
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}

.twoPic {
  max-width: 66.66rem;
  margin:0 auto;
}

.contentProjects p, .contentProjects h3{
  max-width: 30rem;
  margin: auto;
  margin-top: 1.667rem;
  margin-bottom: 1.667rem;
}

.parallax { 
  /* The image used */
  background-image: url("../img/Aufstellung.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1.667rem !important;
}

.video-responsive iframe {
  max-width: 66.66rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-responsive video {
  max-width: 66.66rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}

.newContainer {
  max-width: 66.66rem;
  padding-right: 0.889rem;
  padding-left: 0.889rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.667rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.poster img {
  max-width: 40rem;

}

.shadow img {
  -webkit-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.75);
  padding-left: 0%;
  padding-right: 16px;
}

.shadow {
  margin-right: 16px;
  margin-left: 16px;
  overflow: visible;
}

.freeTime {
  overflow: hidden;
  margin-top: 6rem;
}

.freeTime img{
  width: 100%;
  max-width: 14.5rem;
  margin-top: 1.667rem !important;
  margin-bottom: 1.667rem !important;
  margin:0 auto;
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}

.freeTime p, .freeTime h3{
  max-width: 14.5rem;
  margin: auto;
  margin-top: 1.667rem;
  margin-bottom: 1.667rem;
  padding-right: 16px;
  padding-left: 16px;
}

.documentation p {
  max-width: 66.66rem;
  padding-right: 16px;
  padding-left: 16px;
}