html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font-size: 18px;
  font-family: 'Montserrat';
  height: 100%;
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 3840px) {
  html {
    font-size: 36px;
  }
}

body {
  font-family: 'Montserrat';
  height: 100%;
}

#pageContainer {
  display: block;
  position: relative;
  min-height: 100vh;
}

/*--------------- NavBar ---------------*/

.w3-bar {
  padding-top: 0.89rem;
  max-width: 66.66rem;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.222rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.w3-bar a.w3-hide-small {
  padding-top: 0.89rem;
  margin: auto;
  font-weight: 400;
  letter-spacing: 0.222rem;
  text-transform: uppercase;
  font-size: 0.7rem;
}

.w3-bar a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.w3-button:hover {
  color: green;
  background: none;
}

.w3-button:hover path {
  fill: green;
}

.w3-button svg {
  margin-top: 3px;
}

/*--------------- Regular ---------------*/

h1,
h2,
h3,
h4,
h5,
p {
  color: black;
}

header {
  max-width: 66.66rem;
  margin: auto;
  margin-bottom: 5.556rem;
}

p,
h2 {
  margin-left: 0.889rem;
  margin-right: 0.889rem;
}

h2 {
  font-weight: 600;
  margin-top: 6.667rem;
  margin-bottom: 1.667rem;
  font-size: 1.5rem;
  letter-spacing: 0.056rem;
}

p {
  max-width: 27.778rem;
  font-size: 0.889rem;
  line-height: 1.5rem;
}

/*--------------- Footer Imprint ---------------*/

#bottom {
  padding-top: 4.444rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 2.222rem;
}

footer {
  position: relative;
  max-width: 66.667rem;
  margin: auto;
  margin-top: 5.556rem;
  margin-bottom: 1.111rem;
  font-size: 0.75rem;
  
}

.imprint a {
  color: black;
}

@media only screen and (max-width: 768px) {
  .copyright {
    display: block;
    margin: auto;
    text-align: center;
  }

  .imprint {
    display: block;
    margin: auto;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .copyright {
    float: left;
    margin-left: 0.889rem;
    margin-bottom: 0.444rem;
  }

  .imprint {
    float: right;
    margin-right: 0.889rem;
    margin-bottom: 0.444rem;
  }
}

/*--------------- Project Section ---------------*/

.right img {
  position: absolute;
  right: 0px;
}

.left img {
  position: absolute;
  left: 0px;
}

#one,
#three {
  transition: all 1s ease-in-out;
}

#two {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  opacity: 0;
  max-width: 1920px;
}

#four {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  opacity: 0;
  max-width: 1920px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 1.667rem;
  margin-bottom: 1.667rem;
  vertical-align: middle;
}

.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
-col-md-6 {
  padding-right: 0px;
  padding-left: 0px;
}

@media only screen and (max-width: 768px) {
  .row {
    margin-bottom: 60px;
  }

  #firstEntry p,
  #secondEntry p {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 50px;
    line-height: 2em;
  }

  #firstEntry h1,
  #secondEntry h1 {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 4px;
  }
}

@media only screen and (min-width: 768px) {
  .vertical-align {
    display: flex;
    align-items: center;
  }

  .projectSection p {
    margin-left: 8vw;
    margin-right: 0.889rem;
    line-height: 1.8rem;
  }

  .projectSection h1 {
    margin-left: 8vw;
    margin-right: 0.889rem;
    margin-bottom: 1.667rem;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.278rem;
  }
}

/*--------------- Overlay ---------------*/

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  opacity: 0.1;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: right;
  margin-top: 90px;
}

.overlay-content a {
  margin-right: 16px;
  margin-bottom: 16px;
  text-decoration: none;
  font-size: 1.5em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay-content a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  height: 20px;
  text-align: right;
  float: right;
  margin-top: 27px;
  margin-right: 16px;
}

.closebtn svg path {
  fill: #f1f1f1;
  transition: 0.3s;
}

.closebtn svg:hover path {
  fill: green;
}

#myNav {
  opacity: 0;
  transition: 4s ease-in-out;
}

/*--------------- Back to Top ---------------*/

.back-to-top {
  display: inline-block;
  position: fixed;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/back-to-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s,
    background-color 0.3s 0s, transform 1s ease-in-out;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, background-color 0.3s 0s,
    transform 1s ease-in-out;
}

.back-to-top.back-to-top--show,
.back-to-top.back-to-top--fade-out,
.back-to-top:hover {
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s,
    background-color 0.3s 0s, transform 1s ease-in-out;
  transition: opacity 0.3s 0s, visibility 0s 0s, background-color 0.3s 0s,
    transform 1s ease-in-out;
}

.back-to-top.back-to-top--show {
  visibility: visible;
  opacity: 1;
}

.back-to-top.back-to-top--fade-out {
  opacity: 0.5;
}

.back-to-top:hover {
  transform: scale(1.3);
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .back-to-top {
    height: 40px;
    width: 40px;
    right: 10px;
    bottom: 10px;
    background-size: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .back-to-top {
    height: 3.33rem;
    width: 3.33rem;
    background-size: 60%;
    right: 2.22rem;
    bottom: 2.22rem;
  }
}

/*--------------- About ---------------*/

.about {
  max-width: 66.66rem;
  margin:auto;
}

.about img{
  margin-top: 6.667rem;
  padding-left: 0.887rem;
  padding-right: 0.887rem;
}


/*--------------- Imprint ---------------*/

@media only screen and (min-width: 768px) {

  .imprintBlock p{
    max-width: none;
  }
}

.imprintBlock {
  word-wrap: normal;
}

.imprintBlock a{
  word-wrap: break-word;
}

.imprintBlock {
  max-width: 66.66rem;
  margin: auto;
  margin-top: 6.667rem;
}

.imprintBlock h1, h2, h3{
  margin-left: 0.889rem;
  margin-right: 0.889rem;
}

.imprintBlock h2{
  font-size: 1.667rem;
  margin-top: 2.222rem;
  margin-bottom: 1.111rem;
}

.imprintBlock h3{
  font-size: 1.333rem;
  margin-top: 1.667rem;
  margin-bottom: 0.556rem;
}

#datenschutzCR{
  display: inline-block;
  margin-left: 0.889rem;
  margin-right: 0.889rem;
  font-size: 0.9rem;
  margin-top: 0.889rem;
}

/*--------------- Project Sites ---------------*/

.projectHeader {
  position: absolute;
  top: 3.5rem;
  height: 22.222rem;
  width: 100vw;
}

.projectHeader rect {
  height: 22.222rem;
  width: 100vw;
}
